
<!--<h1>This is my Website</h1>
<button type="submit">Search</button>

<button type="submit">Submit</button>

<input type="text" placeholder="Enter firstName">

<input type="number" name="studentName" id="studentId"> -->
    
    <p>This is {{appType}}</p><!--String interpolation we r accesing this variable from ts file for 20 & 22 line-->

<button type="submit">Search</button>

<button class="secondary-btn" type="submit" (click)="searchByCaseNumber()">Search Case Number</button> <!--we have 2 buttons here to give diff colors 
    for buttons we use cls and give name to cls -->

<button class="third-btn" type="submit" (click)="getAllEmployees()">Employee</button>

<button type="submit" (click)="changeToAngular()">This is Angular</button>

<button type="submit" (click)="changeToReact()">This is React</button>

